[submodule "Programs/3dstools"]
	path = Programs/FontTool
	url = https://github.com/pleonex/3dstools
[submodule "Programs/ROMTool"]
	path = Programs/ROMTool
	url = https://github.com/dnasdw/3dstool
[submodule "Programs/bclimtool"]
	path = Programs/bclimtool
	url = https://github.com/dnasdw/bclimtool
[submodule "Programs/TextureTool"]
	path = Programs/TextureTool
	url = https://github.com/dnasdw/txobtool
[submodule "Spanish"]
	path = Spanish
	url = git@gitlab.com:gradienwords/AttackFridayMonsters-Spanish.git
[submodule "Programs/Lemon"]
	path = Programs/Lemon
	url = https://github.com/SceneGate/Lemon
[submodule "Programs/xdelta/xdelta"]
	path = Programs/xdelta/xdelta
	url = https://github.com/jmacd/xdelta
[submodule "Programs/xdelta/xz"]
	path = Programs/xdelta/xz
	url = https://git.tukaani.org/xz.git
